<style>
  /* Estilos para los botones */
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  /* Estilos adicionales para cada botón (puedes personalizar según tus preferencias) */
  .button-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #3498db;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
  }
  /* Estilos para el título */
  h1 {
    text-align: center;
  }
</style>

<main class="main">
  <div class="content">
    <div style="text-align:center">
      <h1>Sistema de Fichajes</h1>
    </div>
    <div class="button-container">
      <app-registrar-entrada></app-registrar-entrada>
      <app-registrar-salida></app-registrar-salida>
      <app-mostrar-fichajes></app-mostrar-fichajes>

    </div>

  </div>
</main>
